*{
    padding: 0px;
    margin: 0px;
}
body{
    background-size: cover;
}
container{
    margin: 0px;  
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);

  
  }
  .mycorousel{
      max-height: 400px;  
     /* vertical-align: middle; */ 
  }
  .mycorousel img{
     /* max-height: 400px;*/
  }
  /* container1{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  } */